input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #ff9800 ;
    -webkit-box-shadow: 0 1px 0 0 #ff9800 ;
    box-shadow: 0 1px 0 0 #ff9800 ;
   
   }

#img_register_space{
    height: 100vh;
    @media(max-width: 750px){
        display: none;
    }
}
.full{
    @media(max-width: 750px){
        width: 100vw;
        height: 100vh;

    }
}
.mt-4 {
    margin-top: 0;
}
.pd-top{
    margin-top: 15vh;
}
.barra{
    margin-left: 8vw;
}