<app-sidebar></app-sidebar>
<app-navbar [cliente]="cliente" ></app-navbar>

<!-- component -->
<div class="w-full flex login_space mt-4 animate__animated animate__fadeIn animate__slow behind barra">
    <!-- <img id="img_register_space" src="https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1002&q=80" alt="background" class="object-cover object-center h-screen w-5/12"> -->
    
    <div class=" flex flex-col justify-center items-center w-screen pd-top full">
        
      <h1 class="text-3xl font-bold text-orange-500 mb-2">Modificar Datos</h1>
      <p class="errores"></p>
      <div class=" row w-12/12 text-center">
        <div class="input-field col s6">
        <input 
        [(ngModel)]="cliente.Nombre"
        id="name_input" 
        required="required" 
        type="text" 
        name="nombre" 
        placeholder="Nombre" 
        autocomplete="off"
        class=" validate shadow-md border w-50 h-10 px-3 py-2 text-orange-500 focus:outline-none focus:border-orange-500 mb-3 rounded">
        <span class="helper-text" data-error="Ingrese su nombre" data-success="right"></span>

        </div>
        <div class="input-field col s6">
        <input 
        id="apel_input"
        [(ngModel)]="cliente.Apellido" 
        required="required" 
        type="text" 
        name="apellido" 
        placeholder="Apellido" 
        autocomplete="off"
        class=" validate shadow-md border w-50 h-10 px-3 py-2 text-orange-500 focus:outline-none focus:border-orange-500 mb-3 rounded">
            <span class="helper-text" data-error="Ingrese su apellido" data-success="right"></span>
        </div>
        <div class="input-field col s6">
        <input 
        id="user_input"
        [(ngModel)]="cliente.Usuario" 
        required="required" 
        type="text" 
        name="username"
        disabled 
        placeholder="Usuario" 
        autocomplete="off"
        class="validate shadow-md border w-full h-10 px-3 py-2 text-orange-500 focus:outline-none focus:border-orange-500 mb-3 rounded">
        <span class="helper-text" data-error="Ingrese un nombre de usuario valido" data-success="right"></span>

        </div>
        <div class="input-field col s6">
        <input 
        id="email_input"
        [(ngModel)]="cliente.Email"
        disabled 
        required="required" 
        type="email" 
        name="email" 
        placeholder="Email" 
        autocomplete="off"
        class="validate shadow-md border w-full h-10 px-3 py-2 text-orange-500 focus:outline-none focus:border-orange-500 mb-3 rounded">
          <span class="helper-text" data-error="Ingrese un email" data-success="right"></span>
        </div>
        <div class="input-field col s12">
        <input 
        id="tel_input"
        [(ngModel)]="cliente.Telefono" 
        required="required" 
        type="number" 
        name="telefono" 
        placeholder="Telefono" 
        autocomplete="off"
        class="validate shadow-md border w-full h-10 px-3 py-2 text-orange-500 focus:outline-none focus:border-orange-500 mb-3 rounded">
        <span class="helper-text" data-error="Ingrese su teléfono" data-success="right"></span>

            </div> 
        <!-- <div class="input-field">
        <input autocomplete="off" id="email aaaa" name="email" type="email" class="validate" required="required" autofocus>
    <label id="aaaa" for="email">Email</label>
    <span class="helper-text" data-error="Must be a valid email" data-success="Perfect!"></span>
  </div> -->
  <button class="waves-effect waves-light btn orange accent-3 text-white px-3 py-1 rounded text-lg focus:outline-none shadow mt-2" [disabled]="isValid === false" (click)="actualizar_datos()" >
    Actualizar
  </button>
      </div>
    </div>
  </div>