.sidebar{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width:8%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    border-right: 1px solid rgb(216, 216, 216);
    position:fixed!important;
    z-index:1;
    overflow:auto;
}
.flex-orientation{
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.logo{
    margin-top: 3vh;
    border-radius: 10%;
    width: 5vw;
}
.icono{
    color: orange;
    font-size: 2vw;
    margin-bottom: 3vh;
}