<app-sidebar></app-sidebar>
<app-navbar [cliente]="cliente"></app-navbar>
<div class=" w-clientes animate__animated animate__fadeIn animate__slow ">
  <div class="flex">
      <div class="principal">
        <h5 class="titulo text-2xl font-bold text-orange-500 mb-2">Cuentas Personales</h5>
        <div class="flex card-container">
            <div class="card-client">
                <img src="assets/card.png" alt="" >
                <div class="card-contain">
                    <div class="card-nombre">
                        {{cliente.Nombre}} {{cliente.Apellido}}
                    </div>
                    <div class="card-number">
                        <div class="title-card">
                            Numero de cuenta
                        </div>
                        {{cuenta.Num_de_cuenta}}
                    </div>
                    <div class="card-type">
                        Cuenta en pesos
                    </div>                       
                </div>
            </div>
            <div class="card-client">
                <img src="assets/card.png" alt="" >
                <div class="card-contain">
                    <div class="card-nombre">
                        {{cliente.Nombre}} {{cliente.Apellido}}
                    </div>
                    <div class="card-number">
                        Proximamente!
                    </div>
                    <div class="card-type">
                        Cuenta en dolares
                    </div>                       
                </div>
            </div>
        </div>
        <br>
        
        <div class="ultimos-mov">
            <h5 class="titulo text-2xl font-bold text-orange-500 mb-2">Ultimos movimientos</h5>
            <div *ngFor="let op of ultimas_op">
                <div class="grid filas">
                    <p>{{op.Fecha.getDate()}}/{{op.Fecha.getMonth()+1}}/{{op.Fecha.getFullYear()}}</p>
                    <p>{{op.Tipo}}</p>
                    <p>{{op.Monto}}</p>
                </div>  
            </div>
        </div>
        
      </div>
      <span class="barrita"></span>
      <div class="resumen">
        <h5 class="titulo text-2xl font-bold text-orange-500 mb-2">Resumen de cuenta</h5>
        <img src="assets/money.png" alt="" class="img-money">
        <div class="muestra-dinero">
            <p style="font-size: 3vh;">Fondos actuales</p>
            <p class="money-text">${{cuenta.Saldo}}</p>
        </div>
        <div class="datos-cueta">
            <p>Cbu: {{cuenta.Cbu}}</p>
            <p>Cvu: {{cuenta.Cvu}}</p>
            <p>Estado: {{cuenta.Estado_de_cuenta}}</p>


        </div>
      </div>
  </div>
</div>
