.card{
    width: 100%;
    height: auto;
}
#true_document{
  display: none;
} 
.centrar{
  height: 90vh;
  position: relative;
}
.contenido_doc{
  height: 0;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@supports(object-fit: cover){
    .card img{
      height: 250px;
      object-fit: cover;
      object-position: center center;
    }
}

.w-clientes{
  margin-left: 8vw;
}
.flex{
  display: flex;
}
.principal{
  width: 70%;
}
.resumen{
  width: 30%;
}
.titulo{
  text-align: center;
  font-size: 3.8vh;
}
.card-container{

  width: 70%;
  margin: 0 auto;
  margin-top: 4vh;
  justify-content: space-between;
}
.card-client{
  width: 48%;
  position: relative;
}
.card-contain{
  color: white;
  font-size: 1vw;
}
.card-nombre{
  bottom: 1vw;
  left: 1.5vw;
  position: absolute;
}
.card-number{
  position: absolute;
  top:4.5vw;
  left: 1.5vw;
}
.card-type{
  color:  rgb(95, 95, 95);
  position: absolute;
  top:8vw;
  right: 1vw;
}
.title-card{
  padding: 0;
  margin: 0;
  color:  rgb(95, 95, 95);
}
.ultimos-mov{
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid rgb(216, 216, 216);
  
  overflow: hidden;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}
.filas{
  margin: 0 auto;
  width: 80%;
  border-radius: 2vh;
  margin-bottom: 1vh;
  background-color: rgb(186, 242, 246);
  text-align: center;
}
.filas p{
  font-size: 1.9vh;
}
.img-money{
  border-radius: 50%;
  width: 30%;
  margin: 0 auto;
}
.muestra-dinero{
  text-align: center;
}

.money-text{
  color: green;
  font-size: 6vh;
}
.datos-cueta{
}