.nav{
    padding-top: 1vh;
    background-color: white;
    border-bottom: 1px solid  rgb(216, 216, 216);
    height: 100%;
    color: black;
    margin: 0 3% 0 12%;
    width: 85%;
}
.nav-wrapper{
    height: 8vh;
}
.name{
    font-size: 2vh;
}
.imagen-perfil{
    border-radius: 50%;
    height: 5vh;
    margin-right: 1vh;
}
.flex-orientation{
    display: flex;
    height: 8vh;
    align-items: center;
    margin-right: 2vw;
}